<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

	<title>Fotos</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	
		<header class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<nav class="navbar navbar-expand-lg navbar-light navbar-shrink">
				  			<a class="navbar-brand" href="../index.html"><img src="https://scontent.flim1-1.fna.fbcdn.net/v/t39.30808-6/275110043_1563149980737608_7162111083640209175_n.jpg?stp=cp0_dst-jpg&_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=XJmdlVsngR8AX-atKGL&_nc_ht=scontent.flim1-1.fna&oh=00_AT_s7eHWKX6Eplt1HEx5MJ2759KKKvoqiuTsnr3F9cO3Nw&oe=6223AE84" class="logoenc rounded-circle" alt=""></a>
				  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				   			 <span class="navbar-toggler-icon"></span>
				  			</button>
				  			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				    			<div class="navbar-nav">
						    		<a class="nav-link active" href="../index.html">Home <span class="sr-only">(current)</span></a>
						    		<a class="nav-link" href="../views/nosotros.html">Nosotros</a>
						    		<a class="nav-link" href="../views/destinos.html">Destinos</a>
						    		<a class="nav-link" href="../views/promociones.html">Promociones</a>
						    		<a class="nav-link" href="../views/contacto.html">Contacto</a>
	    						</div>
	  						</div>
					</nav>
				</div>

			</div>

		</header>

		<section class="container-fluid">
			<div class="row">
				<div class="col-12 mt-5 p-5 text-center">
				    <h1>¡Encuentra tu próximo destino!</h1>
				    <br>
				</div>
			</div>
		</section>
		
		<section class="container-fluid promo">
			<div class="row">
				<div class="col-lg-12">
					<img src="https://scontent.flim1-1.fna.fbcdn.net/v/t39.30808-6/275129225_1563150060737600_8075522221332320301_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=730e14&_nc_ohc=uBcN_xfSdiYAX_ha9mT&_nc_ht=scontent.flim1-1.fna&oh=00_AT9gJFZXRII66dAyQRBYNitAnhLnA5NcYKJh4xZdhRlVSQ&oe=622378AC" width="100%" class="rounded img-fluid">
				</div>
			</div>
		</section>

		<section class="container-fluid">
			<div class="row">
				<div class="col-12 text-center pt-5 pb-5">
					<h1>¡Paquetes al Caribe!</h1>
				</div>
			</div>
		</section>

		<section class="container-fluid promo pb-5">
		
				<div class="card-deck">
				  <div class="card">
				    <img class="card-img-top" src="https://scontent.flim1-2.fna.fbcdn.net/v/t39.30808-6/275115568_1563149990737607_3880085082497572329_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=v9-AFMksSkIAX87e8Xk&_nc_ht=scontent.flim1-2.fna&oh=00_AT-x81Tj3G9XWsGFJDLKC4Fsit-9ff8JNziPVPYRGFafRg&oe=62237CE2" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title">Paquetes a Cancún</h5>
				      <p class="card-text">Partiendo desde Lima</p>
						<p>Hotel + Vuelo + Asistencia</p>
				    </div>
				    <div class="card-footer d-flex justify-content-center"">
				      <small class="text-muted"><a href="#"><button class="btn btn-danger center-block"> Ver más </button></a></small>
				    </div>
				  </div>
				  <div class="card">
				    <img class="card-img-top" src="https://scontent.flim1-2.fna.fbcdn.net/v/t39.30808-6/275082281_1563150030737603_6382635988949436994_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=730e14&_nc_ohc=bln5LxmFhNIAX8T93KI&_nc_ht=scontent.flim1-2.fna&oh=00_AT-QmIxsS5PB9ap_ye9WuVohxY2EESDKX12PfA98Johtcg&oe=62237DE7" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title">Paquetes a Punta Cana</h5>
				       <p class="card-text">Partiendo desde Lima</p>
						<p>Hotel + Vuelo + Asistencia</p>
				    </div>
				    <div class="card-footer d-flex justify-content-center">
				      <small class="text-muted"><a href="#"><button class="btn btn-danger center-block"> Ver más  </button></a></small>
				    </div>
				  </div>
				  <div class="card">
				    <img class="card-img-top" src="https://scontent.flim1-2.fna.fbcdn.net/v/t39.30808-6/275091409_1563150047404268_6490550763807268643_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=CiT7kSfVyAQAX8-P_IG&tn=1kph5tRC0ycQKWRl&_nc_ht=scontent.flim1-2.fna&oh=00_AT_AQsOH-UhWbKOKaJjK_jQj7zwJiP-220vkehDkzA4GXw&oe=62244D41" alt="Card image cap">
				    <div class="card-body">
				      <h5 class="card-title">Paquetes a Riviera Maya</h5>
				         <p class="card-text">Partiendo desde Lima</p>
						<p>Hotel + Vuelo + Asistencia</p>
				    </div>
				    <div class="card-footer d-flex justify-content-center"">
				      <small class="text-muted"><a href="#"><button class="btn btn-danger center-block"> Ver más  </button></a></small>
				    </div>
				  </div>
				</div>

		</section>












		<footer class="container-fluid foo">
		<div class="row foo">
			<div class="col-4 d-flex justify-content-end mt-3 p-3 foo">
           	<a href="https://www.facebook.com/" target="_blank"><img src="../assets/images/facebook.png" alt="Facebook"></a>		
        	</div>

			<div class="col-4 d-flex justify-content-center mt-3 p-3 foo">
				<a href="https://twitter.com/home" target="_blank"><img src="../assets/images/twitter.png" alt="twitter" ></a>
			</div>
        	<div class="col-4 d-flex justify-content-start mt-3 p-3 foo">
			 <a href="https://www.instagram.com/" target="_blank"><img class="redes" src="../assets/images/instagram.png" alt="instagram" ></a>
   			</div>
		</div>
	</footer>


	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>